body{
    background-color: #141414;

}

.linha{
    width: 15vw;
    position: absolute;
}

.tiras{
    width: 46vw;
    margin-top: 3vh;
}

.port22{
    height: 40px;
    border-radius: 15px;
    font-family: 'Harker', sans-serif;
    font-size: 25px;                                
                                                
}

.port23{
    font-size: 25px; 
    height: 40px;
    border-radius: 15px;
    font-family: 'Harker', sans-serif;
}

.qlqrcoisa{
    width: fit-content;
    position: absolute;
    right: 3rem;
    top: 1.5rem;
}

.title{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 100px
}


.alo{
    font-family: 'Harker', sans-serif;
    color: white;
    font-size: 40px;
}

.titulo{
    margin-top: 30vh;
    margin-left: 37vh;
}

.dazai{
    width: 100vh;
    margin-left: 100vh;
    margin-top: -60vh;
}

.dazaichibi img{
    width: 25vw;
    margin-top: -20vh;
}

.fyodor{
    width: 23vw;
    margin-top: 30vh;
    margin-left: 30vh;
  
}

.sobre{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 100px
}

.lala{
    margin-left: 120vh;
    margin-top: -28vh;
}

.textosobre{
    color: white;
    font-family: 'Harker', sans-serif;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 2vw;
    width: 78vh;
    margin-left: 13vh;
    text-align: center;
}