.bodytri1mat{
    background-color: #141414;
}

.titulotr1mat{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 6.6rem;
}

.titmat{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 3em;
}

.descricaomat{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 2em;
}

.atividademapa{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.8em;
}

.divatividademat{
    width: 30vw;
    background-color: rgb(70, 16, 70);  
    border-radius: 1.5vw;
    margin-left: 3vh;  
}

.bodytri1lin{
    background-color: #141414;
}

.titulotr1lin{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 6.6rem;
}

.titlin{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 3em;
}

.descricaolin{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 2em;
}

.divatividadelin{
    width: 30vw;
    background-color: rgb(16, 24, 70);  
    border-radius: 1.5vw;
    margin-left: 3vh; 
}

.atividademodern{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.8em;
}

.divatividadelin2{
    width: 30vw;
    background-color: rgb(70, 24, 16);  
    border-radius: 1.5vw;
    margin-top: -44.5vh;
    margin-left: 35vw; 
}

.descricaolin2{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 2em;
}

.atividadecartaz{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.8em;
}

.divatividadelin3{
    width: 20vw;
    background-color: rgb(70, 16, 46);  
    border-radius: 1.5vw;
    margin-top: -50vh;
    margin-left: 70vw; 
}

.descricaolin3{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 2em; 
}

.atividaderevista{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.8em;
}

.botaoatv3lin{
    border-radius: 3vw;
}

a{
     text-decoration: none;
    color: black;
}

p{
    text-align: center;
}

.bodytri1hum{
    background-color: #141414;
}

.titulotr1hum{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 6.6rem;
}

.tithum{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 3em;
}

.divatividadehum{
    width: 30vw;
    background-color: rgb(70, 16, 70);  
    border-radius: 1.5vw;
    margin-left: 3vh;  
}

.descricaohum{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.3em;
}

.atividadenepal{
    font-family: 'Typography Times', sans-serif;
    color: rgb(0, 0, 0);}

.botaoatv1hum{
    border-radius: 3vw;
    
}

.divatividadehum2{
    width: 30vw;
    background-color: rgb(16, 17, 70);  
    border-radius: 1.5vw;
    margin-top: -28vh;
    margin-left: 34vw;  

}

.descricaohum2{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.3em;
}

.atividadefilme{
    font-family: 'Typography Times', sans-serif;
    color: rgb(0, 0, 0);
}

.botaoatv2hum{
    border-radius: 3vw;
}

.divatividadehum3{
    width: 30vw;
    background-color: rgb(25, 70, 16);  
    border-radius: 1.5vw;
    margin-top: -25vh;
    margin-left: 66vw;  
}

.descricaohum3{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.3em;
}

.atividadeenigma{
    font-family: 'Typography Times', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.0em;
}

.botaoatv3hum{
    border-radius: 3vw;
}

.bodytri1nat{
    background-color: #141414;
}

.titulotri1nat{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 6.6rem;
}

.titnat{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 3em;
}

.divatividadenat{
    width: 30vw;
    background-color: rgb(70, 16, 70);  
    border-radius: 1.5vw;
    margin-left: 3vh;  
}

.descricaonat{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.8em;
}

.botaoatv1nat{
    border-radius: 3vw;
}

.atividadetv{
    font-family: 'Typography Times', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.8em;
}

.divatividadenat2{
    width: 30vw;
    background-color: rgb(16, 68, 70);  
    border-radius: 1.5vw;
    margin-top: -27.5vh;
    margin-left: 34vw; 
}

.descricaonat2{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.8em;
}

.botaoatv2nat{
    border-radius: 3vw;
}

.atividadecircuito{
    font-family: 'Typography Times', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.8em;
}

.divatividadenat3{
    width: 30vw;
    background-color: rgb(16, 70, 19);  
    border-radius: 1.5vw;
    margin-top: -27.5vh;
    margin-left: 66vw; 
}

.descricaonat3{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.8em;
}

.botaoatv3nat{
    border-radius: 3vw;
}

.atividaderevisao{
    font-family: 'Typography Times', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.8em;
}

.divatividadenat4{
    width: 30vw;
    background-color: rgb(70, 16, 16);  
    border-radius: 1.5vw;
    margin-left: 3vh;
    margin-top: 5vw;
}

.descricaonat4{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.8em;
}

.botaoatv4nat{
    border-radius: 3vw;
}

.atividadeexercicio{
    font-family: 'Typography Times', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.8em;
}

.bodytri1dev{
    background-color: #141414;
}

.titulotri1dev{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 6.6rem;
}

.titdev{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 3em;
}

.divatividadedev{
    width: 30vw;
    background-color: rgb(16, 48, 70);  
    border-radius: 1.5vw;
    margin-left: 3vh; 
}

.descricaodev{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.8em;
}

.botaoatv1dev{
    border-radius: 3vw;
}

.atividadecalculadora{
    font-family: 'Typography Times', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.8em;
}

.divatividademod{
    width: 31vw;
    height: 20vh;
    background-color: rgb(70, 16, 70);  
    border-radius: 1.3vw;
    margin-left: 3vh;  
}

.descricao{
    font-family: 'Typography Times', sans-serif;
    color: white;
    font-size: 1.3em;
}

.botaoatv{
    border-radius: 3vw;
    background-color: #141414;
}

.atividadebanca{
    font-family: 'Typography Times', sans-serif;
    color: white;
}

.divatividademod2{
    width: 31vw;
    height: 16vh;
    background-color: rgb(70, 16, 16);  
    border-radius: 1.3vw;
    margin-left: 34vw;
    margin-top: -23vh;
}
