.bodyhumanas{
    background-color: #141414;
}

.titulohumanas{
    font-family: 'Devil Inside Personal Use', sans-serif;
    color: white;
    font-size: 6.6rem;
}

.bodylinguagens{
    background-color: #141414;
}
